<h1> User Login</h1>
<form (submit)="loginForm.form.valid && onLogin(loginForm)" #loginForm="ngForm">
  <table>

  <div  class="form-group">
    <label><b>Email <span>*</span> : </b></label>
    <input type="email" name = "email" ngModel id="email" placeholder="Please Enter the Email"
    class="form-control" #email="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br><br>
    <span *ngIf ="loginForm.submitted && email.errors?.required">Email is mandantory , Please enter it</span>
    <span *ngIf = "loginForm.submitted && email.errors?.pattern">Email must be invalid email address</span>

  </div>

  <div  class="form-group">
    <label><b>Password <span>*</span> :</b></label>
    <input type="password" name = "password" ngModel id="password" placeholder="Please Enter the Password"
    class="form-control" #password="ngModel" required ><br><br>
    <span *ngIf ="loginForm.submitted && password.errors?.required">Password is mandantory , Please enter it</span>

  </div>

  <input type="submit">
  </table>
  <span>{{message}}</span>
</form>
