<div class="header">
  <span *ngIf="usertype === null">
    <a  routerLink="/" class="logo">Auto2Auto</a>
  </span>
  <span *ngIf="usertype === 'admin' && usertype !== null">
    <a  [routerLink]="['/admin', 'user']" class="logo">Auto2Auto</a>
  </span>
  <span *ngIf="usertype !== 'admin' && usertype !== null">
    <a  routerLink="/user-landing-page" class="logo">Auto2Auto</a>
  </span>
  <div class="header-right">

    <span *ngIf="usertype === null">
    <a routerLink="/" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Home</a>

    <a routerLink="/vehicle-category" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Category</a>

    <a routerLink="/vehicle-brand" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Brand</a>

    <a routerLink="/user-login" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Login</a>

    <a routerLink="/user-register" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Register</a>
   </span>

  <span *ngIf="usertype === 'admin' && usertype !== null">

    <a><b>Admin name</b>: {{userDetails.firstname}}</a>
    <a [routerLink]="['/admin', 'user']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">User</a>

    <a [routerLink]="['/admin', 'category']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Category</a>

    <a [routerLink]="['/admin', 'brand']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Brand</a>

    <a [routerLink]="['/admin', 'product']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Product</a>

    <a [routerLink]="['/admin', 'order']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Order</a>

    <a [routerLink]="['/admin', 'payment']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Payment</a>
    <a routerLink="/" (click)="logOut()" *ngIf="!isUserLoggedIn()">Logout</a>

  </span>

  <span *ngIf="usertype !== 'admin' && usertype !== null">
    <a><b>Type</b>:  {{userDetails?.categoryid.name }}</a>
    <a *ngIf="userDetails?.usertype === 'retailer'"><b>Retailer name</b>: {{userDetails.firstname}}</a>
    <a *ngIf="userDetails?.usertype === 'manufacturer'"><b>Manufacturer name</b>: {{userDetails.firstname}}</a>

    <a *ngIf="userDetails?.usertype === 'manufacturer'" routerLink="user-add-product" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Add Vehicle</a>

    <a routerLink="/user-profile" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Profile</a>

    <a routerLink="/" (click)="logOut()" *ngIf="!isUserLoggedIn()">Logout</a>

  </span>

  </div>
</div>
