<div class="header">
  <a  routerLink="/" class="logo">Auto2Aviation</a>
  <div class="header-right">
    <a routerLink="/" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Home</a>

    <a routerLink="/vehicle-category" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Category</a>

    <a routerLink="/vehicle-brand" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Brand</a>

    <a routerLink="/user-login" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" *ngIf="isUserLoggedIn()">Login</a>

    <a routerLink="/user-register" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" *ngIf="isUserLoggedIn()">Register</a>

    <a routerLink="/" (click)="logOut()" *ngIf="!isUserLoggedIn()">Logout</a>

  </div>
</div>

<!--<div style="padding-left:20px">
  <h1>Responsive Header</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>Some content..</p>
</div>-->
