<div align = "center">
    <h1>User Profile</h1>
<br><br>
<table align="center" border="1">
    <tr>
      <th>UserId</th>
      <td>{{user?.userid}}</td>
    </tr>
    <tr>
      <th>First Name</th>
      <td>{{user?.firstname}}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{user?.lastname}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{user?.email}}</td>
    </tr>
    <tr>
      <th>Password</th>
      <td>{{user?.password}}</td>
    </tr>
    <tr>
      <th>Mobile no</th>
      <td>{{user?.mobileno}}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{user?.address}}</td>
    </tr>
    <tr>
      <th>Pincode</th>
      <td>{{user?.pincode}}</td>
    </tr>
    <tr>
      <th>Brand Name</th>
      <td>{{user?.categoryid.name}}</td>
    </tr>
    <tr>
      <th>Category Name</th>
      <td>{{user?.brandid.name}}</td>
    </tr>
    <tr>
      <th>User Type</th>
      <td>{{user?.usertype}}</td>
    </tr>
  </table>
</div>
