<h1>Vehicle Payment Reciept</h1>
<table border="1">
  <tr>
    <th>Payment id</th>
    <td>{{paymentResult.razorpaypaymentid}}</td>
  </tr>
  <tr>
    <th>Order id</th>
    <td>{{paymentResult.razorpayorderid}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{paymentData[0].Attributes.email}}</td>
  </tr>
  <tr>
    <th>Contact no</th>
    <td>{{paymentData[0].Attributes.contact}}</td>
  </tr>
  <tr>
    <th>Payment Amount</th>
    <td>{{paymentResult.amount}} {{paymentData[0].Attributes.currency}}</td>
  </tr>
  <tr>
    <th>Payment Method</th>
    <td>{{paymentResult.paymentmode}}</td>
  </tr>
  <tr>
    <th>Payment Date</th>
    <td>{{paymentResult.paymentdate}}</td>
  </tr>
  <tr>
    <th>Payment Status</th>
    <td>{{paymentData[0].Attributes.status === "captured" ? "Paid" : paymentData[0].Attributes.status}}</td>
  </tr>
</table>
